version: '3.7'
services:
  backend:
    build: ./backend
    container_name: backend:latest
    ports:
    - target: 5001
      published: 5001
      protocol: tcp
    environment:
      DATABASE_URI: ${DATABASE_URI}
      TEST_DATABASE_URI: ${TEST_DATABASE_URI}
      SECRET_KEY: ${SECRET_KEY}
    
  frontend:
    build: ./frontend
    ports:
    - target: 5000
      published: 5000
      protocol: tcp
    container_name: frontend:latest
  # nginx:
  #   build: ./nginx
  #   ports:
  #   - target: 80
  #     published: 80
  #     protocol: tcp
  #   volumes:
  #   - type: bind
  #     source: ./nginx/nginx.conf
  #     target: /etc/nginx/nginx.conf
